<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ProjectEntityMapper" >
  <resultMap id="BaseResultMap" type="ProjectEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="borrower_id" property="borrowerId" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="VARCHAR" />
    <result column="increase_type_id" property="increaseTypeId" jdbcType="VARCHAR" />
    <result column="origin_agency" property="originAgency" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="yield_rate" property="yieldRate" jdbcType="DECIMAL" />
    <result column="borrow_rate" property="borrowRate" jdbcType="DECIMAL" />
    <result column="min_invest_amount" property="minInvestAmount" jdbcType="DECIMAL" />
    <result column="sell_limit" property="sellLimit" jdbcType="INTEGER" />
    <result column="vip" property="vip" jdbcType="CHAR" />
    <result column="yield_days" property="yieldDays" jdbcType="TINYINT" />
    <result column="loan_period" property="loanPeriod" jdbcType="INTEGER" />
    <result column="presale_date_start" property="presaleDateStart" jdbcType="TIMESTAMP" />
    <result column="presale_date_end" property="presaleDateEnd" jdbcType="TIMESTAMP" />
    <result column="tender_date_start" property="tenderDateStart" jdbcType="TIMESTAMP" />
    <result column="tender_date_end" property="tenderDateEnd" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="project_url" property="projectUrl" jdbcType="VARCHAR" />
    <result column="refund_date" property="refundDate" jdbcType="TIMESTAMP" />
    <result column="loan_date" property="loanDate" jdbcType="TIMESTAMP" />
    <result column="repayment_date_expected" property="repaymentDateExpected" jdbcType="TIMESTAMP" />
    <result column="repayment_date" property="repaymentDate" jdbcType="TIMESTAMP" />
    <result column="settlement_date" property="settlementDate" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, borrower_id, number, type_id, increase_type_id, origin_agency, amount, 
    yield_rate, borrow_rate, min_invest_amount, sell_limit, vip, yield_days, loan_period, 
    presale_date_start, presale_date_end, tender_date_start, tender_date_end, status, 
    project_url, refund_date, loan_date, repayment_date_expected, repayment_date, settlement_date, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_project
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_project
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="ProjectEntity" >
    insert into tb_project (id, name, borrower_id, 
      number, type_id, increase_type_id, 
      origin_agency, amount, yield_rate, 
      borrow_rate, min_invest_amount, sell_limit, 
      vip, yield_days, loan_period, 
      presale_date_start, presale_date_end, tender_date_start, 
      tender_date_end, status, project_url, 
      refund_date, loan_date, repayment_date_expected, 
      repayment_date, settlement_date, create_time, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{borrowerId,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{increaseTypeId,jdbcType=VARCHAR}, 
      #{originAgency,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{yieldRate,jdbcType=DECIMAL}, 
      #{borrowRate,jdbcType=DECIMAL}, #{minInvestAmount,jdbcType=DECIMAL}, #{sellLimit,jdbcType=INTEGER}, 
      #{vip,jdbcType=CHAR}, #{yieldDays,jdbcType=TINYINT}, #{loanPeriod,jdbcType=INTEGER}, 
      #{presaleDateStart,jdbcType=TIMESTAMP}, #{presaleDateEnd,jdbcType=TIMESTAMP}, #{tenderDateStart,jdbcType=TIMESTAMP}, 
      #{tenderDateEnd,jdbcType=TIMESTAMP}, #{status,jdbcType=CHAR}, #{projectUrl,jdbcType=VARCHAR}, 
      #{refundDate,jdbcType=TIMESTAMP}, #{loanDate,jdbcType=TIMESTAMP}, #{repaymentDateExpected,jdbcType=TIMESTAMP}, 
      #{repaymentDate,jdbcType=TIMESTAMP}, #{settlementDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="ProjectEntity" >
    insert into tb_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="borrowerId != null" >
        borrower_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="increaseTypeId != null" >
        increase_type_id,
      </if>
      <if test="originAgency != null" >
        origin_agency,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="yieldRate != null" >
        yield_rate,
      </if>
      <if test="borrowRate != null" >
        borrow_rate,
      </if>
      <if test="minInvestAmount != null" >
        min_invest_amount,
      </if>
      <if test="sellLimit != null" >
        sell_limit,
      </if>
      <if test="vip != null" >
        vip,
      </if>
      <if test="yieldDays != null" >
        yield_days,
      </if>
      <if test="loanPeriod != null" >
        loan_period,
      </if>
      <if test="presaleDateStart != null" >
        presale_date_start,
      </if>
      <if test="presaleDateEnd != null" >
        presale_date_end,
      </if>
      <if test="tenderDateStart != null" >
        tender_date_start,
      </if>
      <if test="tenderDateEnd != null" >
        tender_date_end,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="projectUrl != null" >
        project_url,
      </if>
      <if test="refundDate != null" >
        refund_date,
      </if>
      <if test="loanDate != null" >
        loan_date,
      </if>
      <if test="repaymentDateExpected != null" >
        repayment_date_expected,
      </if>
      <if test="repaymentDate != null" >
        repayment_date,
      </if>
      <if test="settlementDate != null" >
        settlement_date,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="borrowerId != null" >
        #{borrowerId,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="increaseTypeId != null" >
        #{increaseTypeId,jdbcType=VARCHAR},
      </if>
      <if test="originAgency != null" >
        #{originAgency,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="yieldRate != null" >
        #{yieldRate,jdbcType=DECIMAL},
      </if>
      <if test="borrowRate != null" >
        #{borrowRate,jdbcType=DECIMAL},
      </if>
      <if test="minInvestAmount != null" >
        #{minInvestAmount,jdbcType=DECIMAL},
      </if>
      <if test="sellLimit != null" >
        #{sellLimit,jdbcType=INTEGER},
      </if>
      <if test="vip != null" >
        #{vip,jdbcType=CHAR},
      </if>
      <if test="yieldDays != null" >
        #{yieldDays,jdbcType=TINYINT},
      </if>
      <if test="loanPeriod != null" >
        #{loanPeriod,jdbcType=INTEGER},
      </if>
      <if test="presaleDateStart != null" >
        #{presaleDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="presaleDateEnd != null" >
        #{presaleDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="tenderDateStart != null" >
        #{tenderDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="tenderDateEnd != null" >
        #{tenderDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="projectUrl != null" >
        #{projectUrl,jdbcType=VARCHAR},
      </if>
      <if test="refundDate != null" >
        #{refundDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loanDate != null" >
        #{loanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentDateExpected != null" >
        #{repaymentDateExpected,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentDate != null" >
        #{repaymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="settlementDate != null" >
        #{settlementDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ProjectEntity" >
    update tb_project
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="borrowerId != null" >
        borrower_id = #{borrowerId,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="increaseTypeId != null" >
        increase_type_id = #{increaseTypeId,jdbcType=VARCHAR},
      </if>
      <if test="originAgency != null" >
        origin_agency = #{originAgency,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="yieldRate != null" >
        yield_rate = #{yieldRate,jdbcType=DECIMAL},
      </if>
      <if test="borrowRate != null" >
        borrow_rate = #{borrowRate,jdbcType=DECIMAL},
      </if>
      <if test="minInvestAmount != null" >
        min_invest_amount = #{minInvestAmount,jdbcType=DECIMAL},
      </if>
      <if test="sellLimit != null" >
        sell_limit = #{sellLimit,jdbcType=INTEGER},
      </if>
      <if test="vip != null" >
        vip = #{vip,jdbcType=CHAR},
      </if>
      <if test="yieldDays != null" >
        yield_days = #{yieldDays,jdbcType=TINYINT},
      </if>
      <if test="loanPeriod != null" >
        loan_period = #{loanPeriod,jdbcType=INTEGER},
      </if>
      <if test="presaleDateStart != null" >
        presale_date_start = #{presaleDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="presaleDateEnd != null" >
        presale_date_end = #{presaleDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="tenderDateStart != null" >
        tender_date_start = #{tenderDateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="tenderDateEnd != null" >
        tender_date_end = #{tenderDateEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="projectUrl != null" >
        project_url = #{projectUrl,jdbcType=VARCHAR},
      </if>
      <if test="refundDate != null" >
        refund_date = #{refundDate,jdbcType=TIMESTAMP},
      </if>
      <if test="loanDate != null" >
        loan_date = #{loanDate,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentDateExpected != null" >
        repayment_date_expected = #{repaymentDateExpected,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentDate != null" >
        repayment_date = #{repaymentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="settlementDate != null" >
        settlement_date = #{settlementDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ProjectEntity" >
    update tb_project
    set name = #{name,jdbcType=VARCHAR},
      borrower_id = #{borrowerId,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      type_id = #{typeId,jdbcType=VARCHAR},
      increase_type_id = #{increaseTypeId,jdbcType=VARCHAR},
      origin_agency = #{originAgency,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      yield_rate = #{yieldRate,jdbcType=DECIMAL},
      borrow_rate = #{borrowRate,jdbcType=DECIMAL},
      min_invest_amount = #{minInvestAmount,jdbcType=DECIMAL},
      sell_limit = #{sellLimit,jdbcType=INTEGER},
      vip = #{vip,jdbcType=CHAR},
      yield_days = #{yieldDays,jdbcType=TINYINT},
      loan_period = #{loanPeriod,jdbcType=INTEGER},
      presale_date_start = #{presaleDateStart,jdbcType=TIMESTAMP},
      presale_date_end = #{presaleDateEnd,jdbcType=TIMESTAMP},
      tender_date_start = #{tenderDateStart,jdbcType=TIMESTAMP},
      tender_date_end = #{tenderDateEnd,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=CHAR},
      project_url = #{projectUrl,jdbcType=VARCHAR},
      refund_date = #{refundDate,jdbcType=TIMESTAMP},
      loan_date = #{loanDate,jdbcType=TIMESTAMP},
      repayment_date_expected = #{repaymentDateExpected,jdbcType=TIMESTAMP},
      repayment_date = #{repaymentDate,jdbcType=TIMESTAMP},
      settlement_date = #{settlementDate,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 第一个项目上线时间 -->
  <select id="getFirstOnlineTime" resultType="StatisticsVO">
    SELECT create_time createTime FROM tb_project ORDER BY create_time ASC LIMIT 0,1
  </select>
  <!-- 以月为单位横轴展示每月上项目数 -->
  <select id="countSaledProject" parameterType="map" resultType="StatisticsVO">
    SELECT COUNT(1) countProject, DATE_FORMAT(create_time,'%Y%m') mouth FROM tb_project
    <where><include refid="Count_where_condition"/></where>
    GROUP BY mouth
  </select>
  <select id="totalProject" resultType="int">
    SELECT COUNT(1) FROM  tb_project
  </select>
  <!-- 项目累积总金额（已经放款之后的状态），以月为单位横轴展示每月累积金额。 -->
  <select id="countSaleProjectAmount" parameterType="map" resultType="StatisticsVO">
    SELECT SUM(tpf.financle_amount) amountProject, DATE_FORMAT(tp.create_time,'%Y%m') mouth
    FROM tb_project_financle tpf  JOIN tb_project tp ON tpf.project_id=tp.id
    <where>
      <if test="endTime!=null and endTime!=''">
        AND  tp.create_time &lt;#{endTime}
      </if>
      <if test="startTime!=null and startTime!=''">
        AND tp.create_time &gt; #{startTime}
      </if>
    </where>
    GROUP BY mouth
  </select>
  <select id="totalAmount" resultType="java.math.BigDecimal">
    SELECT SUM(tpf.financle_amount) totalAmount
    FROM tb_project_financle tpf  JOIN tb_project tp ON tpf.project_id=tp.id
  </select>
  <!-- 最快卖完一个项目时间（项目金额的多个纬度），以不同金额递增为横轴展示每种金额的最快销售时间 -->
  <select id="getProjectSaledTimeDiff" resultType="StatisticsVO">
    SELECT MIN(a.deltaT) countProject, a.amount amountProject  FROM
    (
    SELECT TIMESTAMPDIFF(MINUTE,tp.tender_date_start,tpf.update_time) deltaT, tp.amount
    FROM tb_project tp JOIN tb_project_financle tpf ON tp.id=tpf.project_id
    WHERE tp.amount=tpf.financle_amount ORDER BY amount
    ) a
    GROUP BY amount
  </select>
  <!-- 会员数量，以月为单位横轴展示每月会员增加数量。 -->
  <select id="countProjectMember" parameterType="map" resultType="StatisticsVO">
    SELECT COUNT(1)countProject, DATE_FORMAT(create_time,'%Y%m') mouth FROM tb_investor
    <where><include refid="Count_where_condition"/></where>
    GROUP BY mouth
  </select>
  <!-- 以月为单位横轴展示每月购买的客户数 -->
  <select id="countBuyeredProjectMember" parameterType="map"  resultType="StatisticsVO">
    SELECT COUNT(1) countProject, a.mouth FROM
    (SELECT DISTINCT tip.investor_id,DATE_FORMAT(tip.create_time,'%Y%m') mouth
    FROM tb_investor ti JOIN tb_investor_project tip ON ti.id=tip.investor_id
    <where>
      <if test="endTime!=null and endTime!=''">
        AND  tip.create_time &lt;#{endTime}
      </if>
      <if test="startTime!=null and startTime!=''">
        AND tip.create_time &gt; #{startTime}
      </if>
    </where>
    )a
    GROUP BY mouth
  </select>
  <select id="totalBuyerMember" resultType="int">
    SELECT COUNT(1) FROM (SELECT DISTINCT investor_id FROM tb_investor_project)a;
  </select>
  <!-- 每月终端购买比例 -->
  <select id="countPlatformScale" parameterType="map" resultType="PlatformScaleVO">
    SELECT ROUND(a.sub_count/b.count*100) 'scale',a.payment_platform paymentPlatform,a.aMouth mouth FROM
    (SELECT COUNT(1) sub_count, DATE_FORMAT(create_time,'%Y%m') aMouth, payment_platform
    FROM tb_investor_project <where><include refid="Count_where_condition"/></where> AND status IN ('1','3')
    GROUP BY aMouth, payment_platform) a
    LEFT JOIN
    (SELECT COUNT(1) count, DATE_FORMAT(create_time,'%Y%m') bMouth
    FROM tb_investor_project <where><include refid="Count_where_condition"/></where> AND status IN ('1', '3')
    GROUP BY bMouth)b ON a.aMouth=b.bMouth  ORDER BY mouth;
  </select>
  <select id="totalBuyerCount" resultType="int">
    SELECT COUNT(1)
    FROM tb_investor_project WHERE status IN ('1', '3')
  </select>
  <sql id="Count_where_condition">
      <if test="endTime!=null and endTime!=''">
        AND  create_time &lt;#{endTime}
      </if>
      <if test="startTime!=null and startTime!=''">
        AND create_time &gt; #{startTime}
      </if>
  </sql>
  <sql id="Count_Join_Condition">
    <if test="endTime!=null and endTime!=''">
      AND  tip.create_time &lt;#{endTime}
    </if>
    <if test="startTime!=null and startTime!=''">
      AND tip.create_time &gt; #{startTime}
    </if>
    AND tip.status IN ('1', '3')
  </sql>

  <select id="countProvinceSalesMap" parameterType="map" resultType="AreaVO">
    SELECT SUBSTRING(ti.id_no, 1, 2) areaCode,COUNT(1) count
    FROM tb_investor_project tip LEFT JOIN tb_investor ti ON tip.investor_id = ti.id
    <where><include refid="Count_Join_Condition"/></where>
    GROUP BY areaCode;
  </select>

  <select id="countCitySalesMap" parameterType="map" resultType="AreaVO">
    SELECT COUNT(1) count,
    (
    CASE
    WHEN (SUBSTRING(ti.id_no, 1, 4) IN (4190,4290,4690,6590) OR SUBSTRING(ti.id_no, 1, 2) IN (11,12,50,31)) THEN SUBSTRING(ti.id_no, 1, 6)
    ELSE SUBSTRING(ti.id_no, 1, 4)
    END
    )areaCode
    FROM tb_investor_project tip LEFT JOIN tb_investor ti ON tip.investor_id = ti.id
    <where><include refid="Count_Join_Condition"/></where>
    GROUP BY areaCode;
  </select>


</mapper>